<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>varun</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script>
        // console.log("room id = <% roomId %>");
        const ROOM_ID = "<% roomId %>";
    </script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <div class="main">
        <div class="main-left">
            <div class="main-video">
                <div id="video-grid"></div>
            </div>
            <div class="main-controls">
                
            </div>
        </div>
        <div class="main-right">
            <div class="main-header">
                <h5>Chat</h5>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>