<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>varun</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script>
        // console.log("room id = <% roomId %>");
        const ROOM_ID = "<% roomId %>";
    </script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Hello, world!</title>
  </head>
  <body>
    <!-- V1 -->
    <!-- <div id="video-grid"></div> -->
    <!-- V1 -->

<!-- -------------------------------------------------------------------------------------------------------------------------------------- --><!-- -------------------------------------------------------------------------------------------------------------------------------------- -->
    <div class="main">
        <div class="main__left">
            <div class="main__video">
                <div id="video-grid"></div>
            </div>
            <div class="main__controls">
                <div class="main__control__block">
                    <div class="main__control__button">
                        <img src="mute.png" width="40px"height="40px">
                        <span>Mute</span>
                        
                    </div>
                    <div class="main__control__button">
                        <img id = "rupali" src="stop.svg" width="40px" height="40px">
                        <span>Stop Video</span>
                    </div>
                    <div class="main__control__button">
                        <img src="exit.png" alt="" width="40px" height="40px">
                        <span>Exit</span>
                    </div>
                    <div class="main__control__button">
                        <img src="chat.png" alt="" width="40px" height="40px">
                        <span>Chat</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="main__right">
            
            <div class="main__header">
                <h5 style="text-align: center;">Chat Window</h5>
            </div>
            <div class="main__chat__window">
                <ul class="messages">

                </ul>
            </div>
            <div class="main__message__container">
                <input style="border-radius: 8px; font-size: large;"type="text" placeholder="...Type here" class="chat_message">
            </div>
        </div>
        <span class = "daali">Made by <a class = "daali2" href="https://www.linkedin.com/in/varun-kedia-11061115a/">Varun Kedia</a></span>
    </div>
    
    


<!-- -------------------------------------------------------------------------------------------------------------------------------------- --><!-- -------------------------------------------------------------------------------------------------------------------------------------- -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
  <script src="script.js"></script>
</html>