body {
    margin: 0px;
    padding: 0px;
}
#video-grid {
    display: flex;
    justify-content: center;
    /* max-width: 1100px; */
}
video {
    height: 400px;
    width: 500px;
    padding: 20px;
    /* display:table-column; */
    /* float: left;
    clear: left; */
}
.main {
    height: 100vh;
    display: flex;
}
.main__left {
    flex: 0.8;
    display: flex;
    flex-direction: column;
}
.main__right {
    flex: 0.2;
}
.main__video {
    flex-grow: 1;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__controls {
    display: flex;
    background-color:#000000;
    /* background-color:grey; */
    color: white;
    padding: 5px;    
}
.main__control__block {
    display: flex;
    margin: auto;
}
.main__control__button {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-right: 20px;
    border-radius: 20px;
    /* background-color: teal; */
}
.main__control__button:hover {
    background-color: grey;
}
#rupali{
    display:block;
    margin:auto;
}
span {
    text-align: center;
}
.daali {
    color :white;
    position: absolute;
    font-size: 15px;
    bottom: 0px;
}
.daali2 {
    text-decoration: none;
    color:red;
    font-family: cursive;
}
.main__right {
    display: flex;
    flex-direction: column;
    background-color: #242324;
    color:whitesmoke;
    padding: 10px;
}
.main__chat__window {
    flex-grow: 1;
    /* display:flex; */
    
}
.main__header {
    color:whitesmoke;
    text-align: center;
}
.main__message__container {
    padding: 10px;
    display: flex;

}